body {
  padding-top: 50px;  /* Move body of page below navbar. */
}

.page-content {
  padding: 10px;
  text-align: center;
}

img {
  width: 500
}
ul.a {
  list-style-type: circle;
}

.simple-subscription-form {
  background: $subscription-form-bg;
  color: $subscription-form-color;
  padding: $subscription-form-padding;
  border-radius: $global-radius;


  .button {
    margin-bottom: 0;
    border-radius: 0 $global-radius $global-radius 0;
  }
}

.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}

.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
}
